
#app {
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .9);
	border: 1px solid magenta;
	margin: 10px;
	padding: 10px;
	background: hsl(50, 10%, 90%);
	height: 100%;
	display: flex;
	flex-direction: column;
}
.hashtable {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: hsl(250, 30%, 70%);

}

.bitcoin-list {
	height: 140px;
	overflow: scroll;
}
.bucketholder {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.hashbucket {
	flex: 1;
	border: 1px solid cyan;

}

.hashbucket-label {
	
	font-weight: bold;

}


.controls {
	display: flex;
	flex-direction: row;	
}
.control-column {
	border: 1px solid cyan;
	flex-direction: column;	
	
}
